@import url("https://fonts.googleapis.com/css?family=Prompt:400,400i,700,700i");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family: "Prompt", sans-serif;
  line-height: 1.4;
}

#app {
  padding: 1rem;
}

img {
  max-width: 100%;
}

button {
  color: white;
  font-size: 1rem;
  padding: 0.5em;
  background: black;
  border: 0.125rem solid black;
  box-shadow: -0.25rem 0.25rem 0 #fff;
}
button:active {
  box-shadow: 0;
  transform: translate(0.25rem, 0.25rem);
}
