.choice {
  --text-color: #a528ff;
  --border: 0.125rem solid var(--text-color);
  padding: 1rem;
  font-size: 1.25rem;
  background: white;
  border: none;
  border: var(--border);
  color: var(--text-color);
  cursor: pointer;
}

.choice:hover {
  background-color: var(--text-color);
  color: white;
}
.choice.is-selected,
.choice.is-selected:hover,
.choice.is-selected:disabled,
.choice.is-selected:disabled:hover {
  border-color: black;
  border-width: 0.25rem;
  background-color: white;
  color: black;
}

.choice:disabled,
.choice:disabled:hover {
  background-color: white;
  color: var(--text-color);
}

.choice.is-correct,
.choice.is-correct:hover,
.choice.is-correct:disabled,
.choice.is-correct:disabled:hover {
  background: #00ff53;
  color: black;
}
