.question-page {
  background: linear-gradient(-180deg, #a528ff 0%, #e77df1 100%);
  min-height: 100%;
  color: white;
}

.score-board {
  background: hsla(0, 100%, 100%, 33%);
  text-align: right;
  line-height: 1;
  font-style: italic;
  padding: 0.5rem;
  display: relative;
}

.score-board__heading {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.5rem;
}
.score-board__points {
  margin: 0;
  font-size: 2rem;
  line-height: 0.75;
}

.question-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.question {
  display: flex;
  font-style: italic;
  max-width: 40rem;
  margin: 1rem auto;
}

.question__number {
  font-size: 4rem;
  margin: 0;
  font-style: italic;
  line-height: 0.75;
}

.question__main {
  margin-left: 1rem;
}

.question__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsla(0, 100%, 100%, 0.66);
  text-transform: uppercase;
}
.question__meta p:last-of-type {
  text-align: right;
  margin-right: 0;
}

.question__meta p {
  margin: 0;
  margin-right: 0.5rem;
}

.question__prompt {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
}

.question__status {
  position: absolute;
  animation-duration: 0.25s;
  animation-name: status-enter;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; /* stop reset to initial state */
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.status-message {
  text-align: center;
}
.status-message .points {
  margin: 0;
  font-size: 1rem;
}

@keyframes status-enter {
  from {
    transform: translateY(-10rem);
    opacity: 0;
  }

  to {
    transform: translateY(-4.5rem);
    opacity: 1;
  }
}

.question__nav {
  width: 100%;
  text-align: right;
}
.question__nav a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  font-size: 1.25rem;
}
.question__nav a:after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("../img/angled-brackets.svg") no-repeat center bottom;
  background-size: contain;
}
.question__nav a:hover {
  border-bottom: 0.125rem solid white;
}
